.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-black);
  }

  .error-description {
    color: #f51f1f;
    text-align: center;
  }
  &-fields {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    mat-form-field,
    button {
      margin-top: 20px;
      width: 100%;
    }
  }

  &-info {
    text-align: center;
    margin-top: 30px;

    a {
      font-weight: bold;
      cursor: pointer;
      color: var(--primary-orange);
    }
  }
}
