<app-spinner *ngIf="isLoading"></app-spinner>
<div class="service-container layout-wrapper">
  <div class="back-button">
    <button mat-flat-button class="custom-rounded-outline-button" (click)="backToList()">
      Voltar
    </button>

    <button
      *ngIf="isLogged && user.fornecedor === true"
      mat-flat-button
      class="custom-flat-button"
      (click)="editService()"
      style="margin-left: 4px"
    >
      Editar serviço
    </button>
  </div>
  <div class="nav-wrapper">
    <p class="provider-name" (click)="goToProvider()">{{ service.fornecedor }}</p>
    <mat-icon>chevron_right</mat-icon>
    <p class="service-name">{{ service.titulo }}</p>
  </div>

  <div class="service-detail">
    <div class="title-container">
      <h1>{{ service.titulo }}</h1>
      <mat-icon>share</mat-icon>
    </div>
    <span *ngIf="service.disponivel === true" class="available">Agendamento disponível</span>
    <div class="description">
      {{ service.descricao }}
    </div>
  </div>
  <div class="service-schedule">
    <h2 class="title-container">Horários disponíveis</h2>

    <div class="service-schedule-week">
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.segunda.length === 0 }">
        <h3>Segunda</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.segunda">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.terca.length === 0 }">
        <h3>Terça</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.terca">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.quarta.length === 0 }">
        <h3>Quarta</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.quarta">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.quinta.length === 0 }">
        <h3>Quinta</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.quinta">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.sexta.length === 0 }">
        <h3>Sexta</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.sexta">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.sabado.length === 0 }">
        <h3>Sábado</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.sabado">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
      <div class="service-schedule-day" [ngClass]="{ disabled: agenda.domingo.length === 0 }">
        <h3>Domingo</h3>
        <div class="service-schedule-day-hour" *ngFor="let item of agenda.domingo">
          <p>{{ item.inicio | date: 'HH:mm':'+0' }}</p>
          <p style="margin: 0 8px">-</p>
          <p>{{ item.fim | date: 'HH:mm':'+0' }}</p>
        </div>
      </div>
    </div>

    <!-- <div class="title-container">
      <h1>{{ service.titulo }}</h1>
      <mat-icon>share</mat-icon>
    </div>
    <span *ngIf="service.disponivel === true" class="available">Agendamento disponível</span>
    <div class="description">
      {{ service.descricao }}
    </div> -->
  </div>
  <!-- <div class="actions-container">
    <button mat-flat-button class="custom-flat-button" (click)="goToAgenda()">
      Visualizar horarios disponíveis
    </button>
  </div> -->
</div>
