.service-container {
  margin: 40px auto;
  color: var(--primary-black);
  padding-bottom: 80px !important;

  .back-button {
    margin-bottom: 30px;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;

    color: var(--primary-grey);

    .provider-name {
      cursor: pointer;
    }

    mat-icon {
      color: var(--primary-black);
    }

    .service-name {
      cursor: default;
    }
  }

  .service-detail {
    .title-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin-bottom: 8px;
      }

      mat-icon {
        cursor: pointer;
      }
    }

    .available {
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--primary-orange);
    }

    .description {
      margin-top: 20px;
      padding: 20px;
      border-radius: 8px;
      background-color: var(--background-grey);
    }
  }

  .service-schedule {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;

    &-week {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    &-day {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 300px;
      padding: 15px;
      border-radius: 8px;
      background-color: var(--background-grey);

      &.disabled {
        opacity: 0.7;
      }

      &-hour {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 10px;
        width: 100%;
        border-radius: 6px;
      }
      h3 {
        text-align: center;
        color: var(--primary-orange);
        font-weight: 600;
      }
    }

    .description {
      margin-top: 20px;
      padding: 20px;
      border-radius: 8px;
      background-color: var(--background-grey);
    }

    .title-container {
      background-color: var(--secondary-grey);
      border-radius: 6px;
      padding: 10px 20px;
      margin: 25px 0px;
    }
  }

  .actions-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
