<app-spinner *ngIf="isLoading"></app-spinner>
<div class="create-container layout-wrapper">
  <h1>Editar serviço</h1>
  <h2 class="title-container">Dados do serviço</h2>

  <img
    *ngIf="editForm.get('logo')?.value.file !== null"
    [src]="editForm.get('logo')?.value.base64"
    class="image-preview"
    style="height: 150px; width: auto; max-width: 400px"
  />
  <form [formGroup]="editForm">
    <div class="create-container-form">
      <app-file-uploader
        [file]="editForm.get('logo')"
        accept="image/png, image/jpeg"
        title="Selecionar imagem"
        (onSelect)="onFileSelected($event)"
      ></app-file-uploader>
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input type="text" matInput formControlName="titulo" placeholder="Título" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Categoria</mat-label>
        <mat-select required formControlName="categoria">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input type="textarea" matInput formControlName="descricao" placeholder="Descrição" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Métodos de pagamento</mat-label>
        <mat-select formControlName="formas_pagamento" multiple>
          <mat-option *ngFor="let payment of paymentMethods" [value]="payment.id">
            {{ payment.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Valor do serviço</mat-label>
        <input
          type="text"
          currencyMask
          [options]="{
            prefix: 'R$ ',
            thousands: '.',
            decimal: ','
          }"
          matInput
          formControlName="valor"
        />
      </mat-form-field>
      <mat-slide-toggle color="primary" formControlName="presencial">
        Serviço presencial
      </mat-slide-toggle>
    </div>

    <div class="create-container-agenda">
      <h2 class="title-container">Horários disponíveis</h2>

      <form [formGroup]="agendaForm">
        <div class="create-container-agenda-content">
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="monday">
                Segunda
              </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="mondayStart"
                [ngClass]="{ disabled: !agendaForm.get('monday')!.value }"
              />
              <input
                type="time"
                formControlName="mondayEnd"
                [ngClass]="{ disabled: !agendaForm.get('monday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="tuesday"> Terça </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="tuesdayStart"
                [ngClass]="{ disabled: !agendaForm.get('tuesday')!.value }"
              />
              <input
                type="time"
                formControlName="tuesdayEnd"
                [ngClass]="{ disabled: !agendaForm.get('tuesday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="wednesday">
                Quarta
              </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="wednesdayStart"
                [ngClass]="{ disabled: !agendaForm.get('wednesday')!.value }"
              />
              <input
                type="time"
                formControlName="wednesdayEnd"
                [ngClass]="{ disabled: !agendaForm.get('wednesday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="thursday">
                Quinta
              </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="thursdayStart"
                [ngClass]="{ disabled: !agendaForm.get('thursday')!.value }"
              />
              <input
                type="time"
                formControlName="thursdayEnd"
                [ngClass]="{ disabled: !agendaForm.get('thursday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="friday"> Sexta </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="fridayStart"
                [ngClass]="{ disabled: !agendaForm.get('friday')!.value }"
              />
              <input
                type="time"
                formControlName="fridayEnd"
                [ngClass]="{ disabled: !agendaForm.get('friday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="saturday">
                Sábado
              </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="saturdayStart"
                [ngClass]="{ disabled: !agendaForm.get('saturday')!.value }"
              />
              <input
                type="time"
                formControlName="saturdayEnd"
                [ngClass]="{ disabled: !agendaForm.get('saturday')!.value }"
              />
            </div>
          </div>
          <div class="create-container-agenda-content-item">
            <div class="create-container-agenda-content-item-day">
              <mat-slide-toggle color="primary" formControlName="sunday">
                Domingo
              </mat-slide-toggle>
            </div>
            <div class="create-container-agenda-content-item-hours">
              <input
                type="time"
                formControlName="sundayStart"
                [ngClass]="{ disabled: !agendaForm.get('sunday')!.value }"
              />
              <input
                type="time"
                formControlName="sundayEnd"
                [ngClass]="{ disabled: !agendaForm.get('sunday')!.value }"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </form>

  <footer>
    <button
      type="button"
      [disabled]="disableButton()"
      (click)="onSubmit()"
      class="custom-flat-button"
      mat-flat-button
    >
      Editar serviço
    </button>
  </footer>
</div>
