<div class="nav-container">
  <div class="nav-container-wrapper layout-wrapper">
    <div class="nav-logo">
      <img src="/assets/setup/marcai-logo.svg" alt="Marcaí" (click)="goToHome()" />
      <!-- <div class="nav-location">
        <mat-icon aria-hidden="false" aria-label="Localização">my_location</mat-icon>
        <p>Você está em</p>
        <strong (click)="handleLocation()">{{ location }}</strong>
      </div> -->
    </div>
    <div class="nav-container-wrapper-buttons" *ngIf="!isLogged">
      <button mat-button class="custom-basic-button" (click)="handleRegistration()">
        criar conta
      </button>
      <button
        mat-flat-button
        class="custom-flat-button"
        (click)="handleLogin()"
        style="margin-left: 4px"
      >
        login
      </button>
    </div>

    <div class="nav-container-wrapper-nav" *ngIf="isLogged">
      <mat-tab-group
        class="tabs-wrapper"
        [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)"
        (selectedTabChange)="changeTab($event)"
      >
        <mat-tab
          class="tab-item"
          *ngFor="let tab of navItems; let index = index"
          [label]="tab.displayName"
        >
        </mat-tab>
        <mat-tab class="tab-item">
          <ng-template mat-tab-label>
            <div class="user-wrapper">
              <div class="user-image">
                <img [src]="logoUrl" alt="logo" data-test="logo-img" />
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div class="profile-container">
        <a class="logout" (click)="logOut()">
          <span class="material-icons"> logout </span>
        </a>
      </div>
    </div>
  </div>
</div>
