<form [formGroup]="registerForm">
  <div class="register-container">
    <h1>Cadastrar</h1>
    <span class="error-description" *ngIf="error">
      {{ error }}
    </span>
    <div class="register-container-fields">
      <mat-radio-group formControlName="type" aria-label="Selecione uma opção" color="primary">
        <mat-radio-button value="1">Usuário</mat-radio-button>
        <mat-radio-button value="2">Fornecedor</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Nome</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Nome" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>E-mail</mat-label>
        <input type="email" formControlName="email" matInput placeholder="E-mail" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Telefone celular</mat-label>
        <input
          type="text"
          matInput
          formControlName="cellphoneNumber"
          mask="(00) 00000-0000"
          placeholder="Telefone celular"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Senha</mat-label>
        <input
          type="password"
          (keypress.enter)="submit()"
          formControlName="password"
          matInput
          placeholder="Senha"
        />
      </mat-form-field>
      <button
        mat-flat-button
        [disabled]="disableButton()"
        class="custom-flat-button"
        (click)="submit()"
      >
        Cadastrar
      </button>
    </div>

    <div class="register-container-info">
      <p>Já possui conta?</p>
      <a (click)="goToLogin()">Entrar</a>
    </div>
  </div>
</form>
