<app-spinner *ngIf="isLoading"></app-spinner>
<div class="user-container layout-wrapper">
  <!-- <div class="back-button">
    <button mat-flat-button class="custom-rounded-outline-button" (click)="backToList()">
      Voltar
    </button>
  </div> -->
  <!-- <div class="nav-wrapper">
    <p class="provider-name" (click)="goToProvider()">{{ service.fornecedor }}</p>
    <mat-icon>chevron_right</mat-icon>
    <p class="service-name"> service.titulo </p>
  </div> -->

  <div class="user-detail">
    <div class="title-container">
      <h1> {{user.nome}} </h1>
    </div>
    <div class="user-contact-container">

      <p> {{user.email}} </p>
      <p> {{user.telefone}} </p>
    </div>
    <!-- <span *ngIf="service.disponivel === true" class="available">Agendamento disponível</span> -->

    <div class="description">

      <p *ngIf="user.bio === undefined"> Ainda sem descrição </p>
      <p *ngIf="user.bio !== undefined"> {{user.bio}} </p>

    </div>
  </div>

  <div class="services" *ngIf="isProvider">
    <h2 class="title-container">Meus serviços</h2>
    <div class="services-table" [ngClass]="{ disabled: services.length === 0 }">
      <h3 *ngIf="services.length === 0">Nenhum serviço cadastrado</h3>
      <div class="services-table-line" *ngFor="let item of services">
        <p class="services-table-line-title">{{item.servico.titulo}}</p>
        <p class="services-table-line-reservations" *ngFor="let res of reservations.get(item.servico._id)">
          cliente:
          {{res.cliente}}
          / horário:
          {{res.horario}}
          / status:
          {{res.status}}
        </p>
      </div>
    </div>

    <!-- <div class="title-container">
      <h1>{{ service.titulo }}</h1>
      <mat-icon>share</mat-icon>
    </div>
    <span *ngIf="service.disponivel === true" class="available">Agendamento disponível</span>
    <div class="description">
      {{ service.descricao }}
    </div> -->
  </div>



  <!-- <div class="actions-container">
    <button mat-flat-button class="custom-flat-button" (click)="goToAgenda()">
      Visualizar horarios disponíveis
    </button>
  </div> -->
</div>