<app-spinner *ngIf="isLoading"></app-spinner>
<div class="service-container layout-wrapper">
  <div class="back-button">
    <button mat-flat-button class="custom-rounded-outline-button" (click)="backToList()">
      Voltar
    </button>

    <button
      *ngIf="isLogged && user.fornecedor === true && user.id_usuario === service.fornecedor"
      mat-flat-button
      class="custom-rounded-outline-button danger"
      (click)="deleteService()"
      style="margin-left: auto"
    >
      Excluir serviço
    </button>

    <button
      *ngIf="isLogged && user.fornecedor === true && user.id_usuario === service.fornecedor"
      mat-flat-button
      class="custom-flat-button"
      (click)="editService()"
      style="margin-left: 10px"
    >
      Editar serviço
    </button>
  </div>
  <div class="nav-wrapper">
    <p class="provider-name">{{ service.fornecedor }}</p>
    <mat-icon>chevron_right</mat-icon>
    <p class="service-name">{{ service.titulo }}</p>
  </div>

  <div class="service-detail">
    <img
      *ngIf="service?.logo_url !== null"
      [src]="service?.logo_url"
      class="image-preview"
      style="height: 150px; width: auto; max-width: 400px; margin-bottom: 20px"
    />
    <div class="title-container">
      <h1>{{ service.titulo }}</h1>
      <mat-icon>share</mat-icon>
    </div>
    <span *ngIf="service.disponivel === true" class="available">Agendamento disponível</span>
    <div class="description">
      {{ service.descricao }}
    </div>
  </div>
  <div class="service-schedule">
    <h2 class="title-container">Horários de atendimento</h2>

    <div class="service-schedule-day" *ngIf="agenda.segunda.length > 0">
      <div class="title-item bnp-pt-30">Segunda-feira</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.segunda[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.segunda[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.segunda[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.terca.length > 0">
      <div class="title-item bnp-pt-30">Terça-feira</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.terca[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.terca[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.terca[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.quarta.length > 0">
      <div class="title-item bnp-pt-30">Quarta-feira</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.quarta[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.quarta[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.quarta[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.quinta.length > 0">
      <div class="title-item bnp-pt-30">Quinta-feira</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.quinta[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.quinta[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.quinta[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.sexta.length > 0">
      <div class="title-item bnp-pt-30">Sexta-feira</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.sexta[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.sexta[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.sexta[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.sabado.length > 0">
      <div class="title-item bnp-pt-30">Sábado</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.sabado[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.sabado[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.sabado[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>

    <div class="service-schedule-day" *ngIf="agenda.domingo.length > 0">
      <div class="title-item bnp-pt-30">Domingo</div>

      <div class="service-schedule-day-hour bnp-gap-20">
        <mat-icon>calendar_today</mat-icon>
        <p>{{ agenda.domingo[0].inicio | date: 'HH:mm':'UTC' }}</p>
        <p>até</p>
        <p>{{ agenda.domingo[0].fim | date: 'HH:mm':'UTC' }}</p>
      </div>

      <button
        mat-flat-button
        class="custom-rounded-outline-button"
        (click)="onSubmit(agenda.domingo[0])"
        style="width: 300px"
        *ngIf="isLogged && user.id_usuario !== service.fornecedor"
      >
        Solicitar reserva
      </button>
    </div>
  </div>
</div>
