<div class="landing-container">
  <div class="landing-content">
    <div class="landing-content-section">
      <div class="landing-content-section-wrapper layout-wrapper">
        <div class="wallpaper-container">
          <img src="/assets/landing/wallpaper.png" alt="Wallpaper" />
        </div>
        <div class="search-container">
          <h2>
            Encontre o
            <span class="highlight">serviço</span>
            ideal mais próximo de você
          </h2>
        </div>
      </div>
    </div>
    <div class="landing-content-section layout-wrapper">
      <form
        [formGroup]="landingForm"
        class="search-container-field bnp-flex bnp-gap-10 bnp-flex-justify-between"
      >
        <bnp-input icon="search" class="bnp-w-100">
          <input
            type="text"
            formControlName="search"
            matInput
            placeholder="Serviço ou fornecedor"
          />
        </bnp-input>
        <button
          mat-flat-button
          class="custom-flat-button"
          (click)="handleSearch()"
          style="margin-left: 8px"
        >
          Buscar
        </button>
      </form>

      <div
        class="categories-container bnp-flex bnp-flex-center bnp-flex-justify-center bnp-flex-wrap bnp-mt-30 bnp-gap-20"
      >
        <bnp-button type="stroked" color="gray" *ngFor="let item of categories">
          {{ item.name.toLowerCase() }}
        </bnp-button>
      </div>
    </div>
  </div>
</div>
