.landing-container {
  .landing-content {
    &-section {
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 320px;
      }
      &:nth-child(1) {
        padding-bottom: 50px;
        width: 100%;
        h2 {
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 135%;
          margin-bottom: 10px;
          text-align: center;

          .highlight {
            color: var(--primary-orange);
          }
        }

        .search-container {
          width: 55%;

          &-field {
            display: flex;
            align-items: center;
            margin-top: 25px;
            font-size: 12px;

            mat-form-field {
              width: 100%;
            }

            button {
              margin-top: 2px;
              height: 36px;
            }
          }
        }

        .wallpaper-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55%;
          height: 100%;
          img {
            height: 80%;
          }
        }
      }
      &:nth-child(2) {
        height: 300px;
        width: 100%;
        background-color: var(--full-white);

        .search-container-field {
        }
      }
    }
  }
}
