<div class="landing-container">
  <div class="landing-nav">
    <div class="landing-nav-wrapper layout-wrapper">
      <div class="nav-logo">
        <img src="/assets/setup/marcai-logo.svg" alt="Marcaí" />
        <div class="nav-location">
          <mat-icon aria-hidden="false" aria-label="Localização">my_location</mat-icon>
          <p>Você está em</p>
          <strong (click)="handleLocation()">{{ location }}</strong>
        </div>
      </div>
      <div class="landing-nav-wrapper-buttons">
        <button mat-button class="custom-basic-button" (click)="handleRegistration()">
          Criar conta
        </button>
        <button
          mat-flat-button
          class="custom-flat-button"
          (click)="handleLogin()"
          style="margin-left: 4px"
        >
          Login
        </button>
      </div>
    </div>
  </div>
  <div class="landing-content">
    <div class="landing-content-section">
      <div class="landing-content-section-wrapper layout-wrapper">
        <div class="search-container">
          <h2>O serviço ao seu dispor</h2>
          <p>Simplificamos o agendamento e fornecimento de serviços.</p>

          <form [formGroup]="landingForm" class="search-container-field">
            <mat-form-field appearance="outline" color="primary">
              <mat-label>Serviço ou fornecedor</mat-label>
              <input
                type="text"
                formControlName="search"
                matInput
                placeholder="Serviço ou fornecedor"
              />
            </mat-form-field>
            <button
              mat-flat-button
              class="custom-flat-button"
              (click)="handleSearch()"
              style="margin-left: 8px"
            >
              Buscar
            </button>
          </form>
        </div>
        <div class="wallpaper-container">
          <img src="/assets/landing/wallpaper.png" alt="Wallpaper" />
        </div>
      </div>
    </div>
    <div class="landing-content-section">
      <div class="landing-content-section-wrapper layout-wrapper">
        <div class="main-cards-container">
          <div class="main-card" (click)="goToServices()">
            <h2>Serviços</h2>
            <p>Busque o que você precisa</p>
          </div>
          <div class="main-card" (click)="goToProviders()">
            <h2>Fornecedores</h2>
            <p>Encontre o mais próximo</p>
          </div>
        </div>

        <div class="subcards-container">
          <div class="subcard">
            <div class="subcard-image">
              <img src="/assets/landing/worker.png" alt="Worker" />
            </div>
            <strong>reparos</strong>
          </div>
          <div class="subcard">
            <div class="subcard-image">
              <img src="/assets/landing/hairdresser.png" alt="Worker" />
            </div>
            <strong>beleza</strong>
          </div>
          <div class="subcard">
            <div class="subcard-image">
              <img src="/assets/landing/executive.png" alt="Worker" />
            </div>
            <strong>executivo</strong>
          </div>
          <div class="subcard">
            <div class="subcard-image">
              <img src="/assets/landing/doctor.png" alt="Worker" />
            </div>
            <strong>saúde</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
